<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Success</title>
    <style>
        .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 30vh;
            width: 1400px;
            border:1px solid rgba(79, 79, 79, 0.177);
            border-radius: 4px;   
            margin-top: 30px; 
        }
        h1{
            color: #1FB141;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Thank you!</h1>
        <h5>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABCUlEQVRIie2SO07DQBRFz9gzBQuIJSpHMqWzhAjZCDd07CJZUDaBsJQUFBFGsAZSpEGiRCwBT3g0WCLY8Se4oPAtZ0bnaO57MGRIlwRp4o2X8eznmdMn3Dp5JsjCX0XzXgVnd9PRzrX3KEJgq1xJizvVB9zmJhNkAmyVluj16vGtF0ET/E+CNvCjBW3hUDHk8TKeBWniHYIHaeLlH/pBkAnCRu/M+SF4SeCvorkgC+vkWZWkWEUUIcJGf5qLl+v1e91v9wRG2xuFekYRWjd/8m+np8VdaRWNXDbBoWIGv/vF2ticYNt23iiAchXfL1vX0igoSYBj4LUC2KvLdKmlU4I08erWdsj/zxd9QKPOkusYFwAAAABJRU5ErkJggg==">
            File Successfully Uploaded.
        </h5>
        <h6>Your records will be processed shortly.</h6>
    </div>
</body>
</html>